RewriteEngine On

# Asegura que la base del proyecto está bien detectada
RewriteBase /milimonade/

# Si el archivo o carpeta existe, NO lo redirige
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [PT,L]
